/*google fonts*/
/* @import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400;1,700&display=swap");

/*global css*/
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #880b2f;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.2);
  --shadow-white-100: 0 5px 15px rgba(255, 255, 255, 0.2);
  --black-900: #000;
  --black-400: #646f87;
  --black-100: #f7f7f7;
  --black-200: #b8b8b8;
  --white: #fff;
  --black-alpha-100: rgba(0, 0, 0, 0.5);

  --bg-color: #101317;
  --second-bg-color: #15191e;
  /* --main-color:#00a78e;
    --shadow-black-100:0 5px 15px rgba(0,0,0,0.2);
    --black-900:#000;
    --black-400:#646f87;
    --black-100:#f7f7f7;
    --white:#fff;
    --black-alpha-100:rgba(0,0,0,.05); */
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: normal;
  overflow-x: hidden;
  background-color: var(--white);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

body.dark {
  .navbar.sticky {
    padding: 12px 25px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow-black-100);
  }

  .navbar .logo a {
    color: var(--white);
  }

  .navbar .menu .nav-item .nav-link {
    color: var(--white);
  }

  .navbar.sticky .nav-item a span,
  .navbar.sticky .nav-item a span::before,
  .navbar.sticky .nav-item a span::after {
    background-color: var(--white);
  }

  /*menuu btn*/
  .navbar.sticky .menu-btn {
    color: var(--white);
    background-color: var(--main-color);
  }

  .home-section {
    background-color: var(--bg-color);
  }

  .header-social {
    border: 1px solid var(--black-100);
  }

  .header-social li a {
    color: var(--black-200);
  }

  .header-social li a:hover {
    color: var(--main-color);
  }

  .home-section .home-text h1 {
    color: var(--white);
  }

  .home-section .home-text span {
    color: var(--main-color);
  }

  .home-section .home-text p {
    color: var(--black-200);
  }

  .section-title .main-title {
    color: var(--white);
  }

  /*about*/

  .about-section {
    background-color: var(--second-bg-color);
  }

  .about-section .about-image .img-box {
    z-index: 100;
  }

  .about-section .about-image .img-box .about-shape {
    background-color: var(--second-bg-color);
    width: 404px;
    height: 525px;
    border-left: 15px solid var(--main-color);
    border-bottom: 15px solid var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .about-section .about-image .img-box .about-shape::before {
    background-color: var(--main-color);
  }
  .about-section .about-image .img-box .about-shape::after {
    background-color: var(--main-color);
  }

  .about-section .about-content p {
    color: var(--black-200);
  }

  /*services*/

  .service-section {
    background-color: var(--bg-color);
  }

  .service-section .service-item-inner {
    background-color: var(--second-bg-color);
  }

  .service-section .service-item-inner:hover {
    background-color: var(--main-color);
  }

  .service-section .service-item-inner .icon {
    background-color: var(--white);
    color: var(--black-900);
  }

  .service-section .service-item-inner:hover .icon {
    background-color: var(--white);
    color: var(--main-color);
  }

  .service-section .service-item-inner h3 {
    color: var(--main-color);
  }

  .service-section .service-item-inner:hover h3 {
    color: var(--white);
  }

  .service-section .service-item-inner p {
    color: var(--black-200);
  }

  .service-section .service-item-inner:hover p {
    color: var(--white);
  }

  /*portfolio*/

  .portfolio {
    background-color: var(--second-bg-color);
  }

  .portfolio .portfolio-filter button {
    border-color: var(--white);
    background-color: var(--main-color);
    color: var(--white);
  }

  .portfolio .portfolio-filter button:hover,
  .portfolio .portfolio-filter button.active {
    color: var(--main-color);
    background-color: var(--white);
  }

  .portfolio .portfolio-item-inner {
    box-shadow: var(--shadow-white-100);
  }

  /*contac section*/

  .contact-section {
    background-color: var(--bg-color);
  }

  .contact-section .contact-item-inner {
    background-color: var(--second-bg-color);
  }

  .contact-section .contact-item-inner span {
    color: var(--white);
  }

  .contact-section .contact-item-inner p {
    color: var(--black-200);
  }

  .contact-section .input-group {
    margin: 0 0 25px;
    border-radius: 30px;
    background-color: var(--second-bg-color);
    box-shadow: var(--shadow-black-100);
  }
}

.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.btn-1 {
  background-color: var(--main-color);
  padding: 15px 40px;
  border: none;
  color: var(--white);
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.btn-1:hover {
  color: var(--white);
  background-color: rgba(119, 0, 50, 0.7);
}

.btn-2 {
  background-color: var(--white);
  padding: 15px 40px;
  border: none;
  color: var(--main-color);
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  border: 1px solid var(--main-color);
  transition: all 0.3s ease-out;
}
.btn-2:hover {
  color: var(--white);
  background-color: var(--main-color);
  border: none;
}
.section-padding {
  padding: 80px 0;
}
.text-align {
  text-align: center;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;
}
.section-title .sub-title {
  font-size: 35px;
  font-weight: 600;
  color: var(--main-color);
}
.section-title .main-title {
  font-size: 35px;
  font-weight: 600;
  margin-top: 10px;
}
.section-title .line {
  padding-top: 0px;
}
.section-title .line li {
  display: inline-block;
  background-color: var(--main-color);
  border-radius: 50px;
  height: 3px;
}
.section-title .line li:nth-of-type(1) {
  width: 64px;
}
.section-title .line li:nth-of-type(2) {
  width: 10px;
}
.section-title .line li:nth-of-type(3) {
  width: 7px;
}
/*===== Navbar =====*/
.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 25px;
  transition: all 0.5s ease;
}
.navbar.sticky {
  padding: 12px 25px;
  background-color: var(--white);
  box-shadow: var(--shadow-black-100);
}
.navbar .logo a {
  font-size: 24px;
  color: var(--black-900);
  font-weight: 600;
  text-transform: capitalize;
}
.navbar .logo a span {
  color: var(--main-color);
}
.navbar .menu .nav-item {
  display: inline-block;
  position: relative;
  margin-left: 36px;
}
.navbar .menu .nav-item .nav-link {
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-transform: capitalize;
  padding: 10px 0;
}
.navbar.sticky .menu .nav-item .nav-link {
  color: var(--main-color);
}
.navbar .nav-item .nav-link span {
  width: 0;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out 0s;
}
.navbar .nav-item .nav-link span::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--white);
  left: 110%;
}
.navbar .nav-item .nav-link span::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--white);
  left: 140%;
}
.navbar.sticky .nav-item a span,
.navbar.sticky .nav-item a span::before,
.navbar.sticky .nav-item a span::after {
  background-color: var(--main-color);
}
.navbar .nav-item > .nav-link.active span,
.navbar .nav-item:hover > .nav-link span {
  opacity: 1;
  visibility: visible;
  width: 60%;
}
.navbar .nav-item > .nav-link.active span::before,
.navbar .nav-item:hover > .nav-link span::before {
  width: 20%;
}
.navbar .nav-item > .nav-link.active span::after,
.navbar .nav-item:hover > .nav-link span::after {
  width: 15%;
}
.menu-btn {
  background-color: var(--main-color);
  height: 34px;
  width: 44px;
  box-shadow: var(--shadow-black-100);
  padding: 0;
  border-radius: 5px;
  line-height: 34px;
  text-align: center;
  color: var(--white);
  font-size: 17px;
  display: none;
}
.navbar.sticky .menu-btn {
  color: var(--main-color);
  background-color: var(--white);
}

/*===== Butoon Darkmode =====*/
/* The switch - the box around the slider */
/* .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
} */

/*!Hide default HTML checkbox */
/* Genel stil */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 10px;
}

/* Giriş stil */
.toggle-switch .toggle-input {
  display: none;
}

/* Anahtarın stilinin etrafındaki etiketin stil */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 24px;
  background-color: var(--black-900);
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Anahtarın yuvarlak kısmının stil */
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Anahtarın etkin hale gelmesindeki stil değişiklikleri */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: var(--main-color);
}

.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

/* Light tema */
.toggle-switch.light .toggle-label {
  background-color: #bebebe;
}

.toggle-switch.light .toggle-input:checked + .toggle-label {
  background-color: #9b9b9b;
}

.toggle-switch.light .toggle-input:checked + .toggle-label::before {
  transform: translateX(6px);
}

/* Dark tema */
.toggle-switch.dark .toggle-label {
  background-color: #4b4b4b;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label {
  background-color: #717171;
}

.toggle-switch.dark .toggle-input:checked + .toggle-label::before {
  transform: translateX(16px);
}

/* The slider */

/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #223243;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #223243;
  box-shadow: inset 2px -2px 0 1.8px #fff;
  transition: .4s;
  animation: anima1 0.3s linear;
}

@keyframes anima1 {
  0% {
    transform: translateX(1.5em);
  }

  80% {
    transform: translateX(-0.3em);
  }

  100% {
    transform: translateX(0em);
  }
}

.switch input:checked + .slider:before {
  background-color: yellow;
  box-shadow: none;
  transform: translateX(1.5em);
  animation: anima 0.3s linear;
}

@keyframes anima {
  0% {
    transform: translateX(0px)
  }

  80% {
    transform: translateX(1.6em)
  }

  100% {
    transform: translateX(1.4em)
  }
} */

/*===== Home =====*/
.home-section {
  position: relative;
  background-color: var(--black-100);
  z-index: 1;
  overflow-x: hidden;
  padding-top: 80px;
}
.header-social {
  position: absolute;
  top: 53%;
  left: 50px;
  transform: translateY(-53%);
  border: 1px solid rgba(167, 0, 67, 0.21);
  border-radius: 50px;
}
.header-social li a {
  font-size: 30px;
  display: block;
  text-align: center;
  padding: 20px 15px;
  color: rgba(100, 111, 135, 0.58);
  transition: all 0.3s ease-out 0s;
}
.header-social li a:hover {
  color: var(--main-color);
}
.home-section .home-text,
.home-section .home-image {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 25px;
}
.home-section .home-text h4 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 4px;
  color: var(--main-color);
}
.home-section .home-text h1 {
  font-size: 60px;
  font-weight: 700;
  margin-top: 15px;
  color: var(--black-900);
}
.home-section .home-text span {
  font-size: 30px;
  line-height: 28px;
  color: var(--main-color);
  font-weight: 500;
  /* display: block; */
  margin-top: 15px;
}
.home-section .home-text p {
  font-size: 18px;
  color: var(--black-400);
  font-weight: 24px;
  margin-top: 15px;
}
.home-section .home-text .btn {
  display: inline-block;
  margin-top: 15px;
}
.home-section .home-image .img-box img {
  position: relative;
  width: 74%;
  z-index: 789;
}

.header-hero-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}
.header-hero-shape::before {
  position: absolute;
  content: "";
  width: 1000%;
  height: 100%;
  background-color: var(--main-color);
  transform: skewX(20deg);
  top: 0;
  left: 0;
}

/*About*/

.about-section .about-image,
.about-section .about-content {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 20px;
}
.about-section .about-image .img-box {
  position: relative;
}
.about-section .about-image .img-box img {
  max-width: 100%;
  width: 100%;
  z-index: 8;
}
.about-section .about-image .img-box .about-shape {
  width: 404px;
  height: 525px;
  border-left: 15px solid var(--main-color);
  border-bottom: 15px solid var(--main-color);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.about-section .about-image .img-box .about-shape::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 85%;
  background-color: var(--main-color);
  bottom: 0;
  right: 0;
}
.about-section .about-image .img-box .about-shape::after {
  position: absolute;
  content: "";
  width: 104%;
  height: 15px;
  background-color: var(--main-color);
  top: 36px;
  right: -2px;
  transform: rotate(11deg);
  border-top-left-radius: 20px;
}
.about-section .about-content p {
  font-size: 18px;
  text-align: justify;
}

.content-lenguajes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.content-box span {
  font-size: 100px;
}

.box-1 {
  color: orangered;
}

.box-2 {
  color: blue;
}

.box-3 {
  color: yellow;
}

.box-4 {
  color: rgb(0, 200, 255);
}

.box-5 {
  color: aqua;
}

.box-6 {
  color: rgb(84, 2, 84);
}

.box-7 {
  color: rgb(1, 196, 1);
}

.box-8 {
  color: rgb(60, 60, 132);
}

/*services*/

.service-section {
  min-height: 100vh;
  background-color: var(--black-100);
}

.service-section .service-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.service-section .service-item-inner {
  box-shadow: var(--shadow-black-100);
  padding: 50px 15px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}

.service-section .service-item-inner:hover {
  background-color: var(--main-color);
}

.service-section .service-item-inner .icon {
  height: 60px;
  width: 60px;
  background-color: var(--main-color);
  margin: 0 auto 30px;
  text-align: center;
  font-size: 35px;
  color: var(--white);
  border-radius: 20px;
  border-bottom-right-radius: 0;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.service-section .service-item-inner:hover .icon {
  background-color: var(--white);
  color: var(--main-color);
  font-size: 24px;
}

.service-section .service-item-inner .icon i {
  line-height: 60px;
}

.service-section .service-item-inner h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--black-900);
  margin: 0 0 10px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.service-section .service-item-inner:hover h3 {
  color: var(--white);
}

.service-section .service-item-inner p {
  font-size: 16px;
  color: var(--black-400);
  margin: 0;
  line-height: 26px;
  transition: all 0.3s ease;
}

.service-section .service-item-inner:hover p {
  color: var(--black-100);
}

/*portfolio*/

.portfolio .portfolio-filter {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 20px;
  text-align: center;
}

.portfolio .portfolio-filter button {
  text-transform: uppercase;
  margin-top: -20px;
  outline: none;
  border: 1px solid;
  border-color: var(--main-color);
  padding: 8px;
  font-weight: 600;
  border-radius: 5px;
  background-color: var(--white);
  margin-right: 20px;
  color: var(--main-color);
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.portfolio .portfolio-filter button:hover,
.portfolio .portfolio-filter button.active {
  color: var(--white);
  background-color: var(--main-color);
}

.portfolio .portfolio-filter button:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio .portfolio-item.hide {
  display: none;
}

.portfolio .portfolio-item.show {
  display: block;
  animation: showItem 0.5s ease;
}
@keyframes showItem {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.portfolio .portfolio-item-inner {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: var(--shadow-black-100);
  cursor: pointer;
  position: relative;
}

.portfolio .portfolio-item-inner .portfolio-img img {
  width: 100%;
  display: block;
}

.portfolio .portfolio-item .portfolio-info {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 30px;
  opacity: 0;
  transition: all 0.3s ease;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}
.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18;
  font-weight: 700;
  color: var(--main-color);
  text-transform: capitalize;
  transform: translatex(-20px);
  transition: all 0.3s ease;
  opacity: 0;
}

.portfolio .portfolio-item:hover .portfolio-info h4 {
  transform: translatex(0px);
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-info p {
  color: var(--white);
  transform: translateY(20px);
  transition: all 0.3s ease;
  opacity: 0;
}

.portfolio .portfolio-item:hover .portfolio-info p {
  transform: translateY(0px);
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-info .icon {
  height: 40px;
  width: 40px;
  color: var(--white);
  background-color: var(--main-color);
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: 30px;
  transform: translatex(20px);
  transition: all 0.3s ease;
  opacity: 0;
}

.portfolio .portfolio-item:hover .portfolio-info .icon {
  transform: translatex(0px);
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-info .icon a {
  color: var(--white);
}

.portfolio .portfolio-item .portfolio-info .icon .lop {
  line-height: 40px;
}

/*lightbox*/

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: zoom-out;
  padding: 30px;
}

.lightbox-img {
  width: 35rem;
}

.lightbox.open {
  display: flex;
}

.lightbox .lightbox-content img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-width: 500px;
  cursor: pointer;
  display: block;
  padding: 40px 0 30px;
}

.lightbox .lightbox-content {
  position: relative;
}

.lightbox.open .lightbox-content {
  animation: lightboxImage 0.5s ease;
}
@keyframes lightboxImage {
  0% {
    transform: scale(0.8);
  }
  1000% {
    transform: scale(1);
  }
}
.lightbox .lightbox-content .lightbox-close {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0;
  right: 0;
  font-size: 32px;
  color: var(--white);
  line-height: 40px;
  text-align: right;
}

.lightbox .lightbox-content .lightbox-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: var(--white);
  z-index: -1;
}

.lightbox .lightbox-controls .prev-item,
.lightbox .lightbox-controls .next-item {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--white);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  top: 50%;
  margin-top: -20px;
  z-index: 110;
  transition: all 0.3s ease;
}

.lightbox .lightbox-controls .prev-item:hover,
.lightbox .lightbox-controls .next-item:hover {
  transform: scale(1.1);
}

.lightbox .lightbox-controls .prev-item:active,
.lightbox .lightbox-controls .next-item:active {
  transform: scale(1);
}

.lightbox .lightbox-controls .prev-item {
  left: 30px;
}

.lightbox .lightbox-controls .next-item {
  right: 30px;
}

.lightbox .lightbox-controls .prev-item .al,
.lightbox .lightbox-controls .next-item .ar {
  font-size: 32px;
  line-height: 40px;
}

/*contact*/

.contact-section {
  min-height: 100vh;
  background-color: var(--black-100);
}

.contact-section .contact-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contact__message {
  left: 0;
  bottom: 6rem;
  font-size: 16px;
}

.contact-section .contact-item-inner {
  padding: 30px 15px;
  text-align: center;
  box-shadow: var(--shadow-black-100);
  border-radius: 5px;
  width: 100%;
}

.contact-section .contact-item-inner i {
  font-size: 30px;
  color: var(--main-color);
}

.contact-section .contact-item-inner span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--black-900);
  margin: 15px 0 10px;
  text-transform: capitalize;
}

.contact-section .contact-item-inner p {
  font-size: 16px;
  color: var(--black-400);
  line-height: 26px;
  margin: 0;
}

.contact-section .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 50px;
}

.contact-section .w-50 {
  padding: 0 15px;
  flex: 0 0 50%;
  max-width: 50%;
}

.contact-section .input-group {
  margin: 0 0 25px;
  border-radius: 30px;
  background-color: var(--black-100);
  box-shadow: var(--shadow-black-100);
}

.contact-section .input-group .input-control {
  height: 45px;
  display: block;
  width: 100%;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  padding: 0 15px;
  transition: all 0.3s ease;
  color: var(--black-400);
}

.contact-section .input-group textarea.input-control {
  height: 180px;
  padding-top: 15px;
  resize: none;
}

.contact-section .input-group .input-control:focus {
  border: 1px solid var(--main-color);
}

.contact-section .submit-btn {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: right;
  padding: 0 15px;
}

/*footer*/

footer {
  background-color: var(--main-color);
}

footer .copyright-text {
  padding: 10px 0;
  font-size: 18px;
  color: var(--black-100);
  font-weight: 300;
  margin: 10px 0 0;
}

@media (min-width: 1300px) and (max-width: 1399px) {
  .header-social {
    left: 10px;
  }
}

@media (max-width: 1300px) {
  .header-social {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar .menu {
    position: fixed;
    left: -100%;
    top: 80px;
    flex-direction: column;
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    transition: all 0.5s ease;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navbar .menu.active {
    left: 0;
  }
  .navbar.sticky .menu {
    background-color: var(--white);
    top: 65px;
  }

  .navbar .menu .nav-item {
    display: block;
    margin: 6px 0;
  }

  .navbar.sticky .menu .nav-item .nav-link {
    color: var(--main-color);
  }

  .navbar .nav-item .nav-link span {
    display: none;
  }

  .navbar .menu-btn {
    display: block;
    z-index: 999;
    font-size: 20px;
  }

  .header-social {
    display: block;
    left: 90%;
  }

  .header-hero-shape {
    display: none;
  }

  .home-section .home-image,
  .home-section .home-text {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home-section .home-image {
    display: flex;
    justify-content: center;
  }

  .home-image .img-box {
    margin-top: 30px;
  }

  .about-section .about-image {
    display: none;
  }

  .about-section .about-content {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .about-section .about-content .section-title {
    text-align: center;
  }

  .portfolio .portfolio-item,
  .service-section .service-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 767px) {
  .header-social {
    left: 85%;
  }

  .service-section .service-item,
  .portfolio .portfolio-item,
  .contact-section .contact-item,
  .contact-section .w-50,
  .about-section .about-content {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .header-social li a {
    font-size: 25px;
    padding: 15px 10px;
  }
}
